<!DOCTYPE html>
<html >
<head>
  <!-- Site made with Mobirise Website Builder v4.8.3, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.8.3, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/assets/images/logo2.png" type="image/x-icon">
  <meta name="description" content="Web Builder Description">
  <title>Bidding Room</title>
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  


  
  
</head>
<body>
        <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-e">

                <% if (user_status == "loggined" && customer) {%>
        
            <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="menu-logo">
                    <div class="navbar-brand">
                        
                        <span class="navbar-caption-wrap"><a class="navbar-caption text-success display-5" href="/">
                                fastbuy.co</a></span>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                                <li class="nav-item">
                                        <a class="nav-link link text-white display-4" href="/productlist/<%= customerid %>">
                                            <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                                            ขอราคา
                                        </a>
                                    </li>
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/editcustomer/<%= customerid %>">
                                    <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                                    แก้ไขโปรไฟล์
                                    
                                </a>
                            </li>
                           
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/customerinbox/<%= customerid %>/1">
                                    <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                                    Inbox
                                    <span class="dynamic-badge" data-badge="<%= (count) %>"></span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/customersummary/<%= customerid %>"><span class="mbri-cash mbr-iconfont mbr-iconfont-btn"></span>
                                            
                                    ข้อมูลสรุป
                                </a>
                            </li>
                        </ul>
                        
                    </div>
            </nav>
            <% } %>
        </section>
        

        <div class="sidenav1" style="height:300px">
            <% if (post_status == "active") {%>
                <a href="/biddinglist/<%= customerid %>/active" style="color:blue">ประกาศที่ยังไม่หมดอายุ</a>
                             <br>
                <a href="/biddinglist/<%= customerid %>/expired">ประกาศที่หมดอายุแล้ว</a>
                <!-- <br>
                <a href="">ประกาศที่จบไปแล้ว</a> -->
                <% } else { %>
                    <a href="/biddinglist/<%= customerid %>/active" >ประกาศที่ยังไม่หมดอายุ</a>
                    <br>
       <a href="/biddinglist/<%= customerid %>/expired" style="color:blue">ประกาศที่หมดอายุแล้ว</a>
                    <% } %>
              </div>
              
 
<div class="col-md-12">
<div class="main1">

        <div class="container">
           
           
            <div class="row search">
            <div class="col-md-12" style="padding-top:100px;text-align: right" >  
               <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Bidding room </h2>
               <span>
                        <button type="button" class="fa fa-plus-circle fa-6"  data-toggle="modal" data-target="#addPost" style="font-size:20px;color: firebrick">เพิ่มประกาศงาน</button>
                    </span> 
        </div>
 
        
                    <!-- <div class="container"> -->
            
                            
                   
                </div>
       
         
                <% if (biddings.length > 0) {%>
            <div class="grid"  data-masonry='{ "itemSelector": ".grid-item"}' style="align-items: center">
                 
                      
                        <% biddings.forEach((bidding, index) => { %>
                            <div class="col-lg-4 col-md-6" style="text-align:center;font-size: 30%" >
                               
                                    <div class="grid-item" >
                                        <div class="col-md-12" style="text-align: right">
                                            <% if (Number(bidding.DateDiff) >=0) {%>  
                                        <h5 style="color:green;font-size: 15px"> Remaining days:  <%= bidding.DateDiff %></h5>
                                        <% } else { %>
                                            <h5 style="color:red;font-size: 15px"> Expired </h5>
                                        <% } %> 
                                    </div>
                                        <div  class="card-box" style="align-items: center">
                                          
                                                <img src="https://res.cloudinary.com/hdzvdkljx/image/upload/v1542473970/company_logo/<%= customer_photo %>" data-toggle="modal" style="height:100px;padding-bottom: 10px" data-target="#myModal_<%= bidding.post_id %>" alt="">
            
                                            <h4 class="card-title mbr-fonts-style display-7" >
                                                    <%= bidding.customer_name %>
                                                    <!-- <%= bidding.bidding_id %> -->
                                                
                                            </h4>
                                            <p  class="mbr-text mbr-fonts-style align-left display-7" style="font-size:15px">
                
                                                   <%= bidding.project_name%>
                                                   <br>
                                                 
                                                   - <%= bidding.scope %>
                                                    <br>
                                                   - <%= bidding.requirement %>
                                                    <!-- <br>
                                                    <%= bidding.leadtime %>
                                                    <br>
                                                    <%= bidding.deadline1 %> -->
                                            </p>
                                       
                                     
                                        </div>         
      
                       
 
             
  <div class="modal fade" id="myModal_<%= bidding.post_id %>" role="dialog" style="height:100%">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
  
            <div class="modal-body">
                    <div class="card-img" style="width:60%;padding-left: 10%;padding-bottom:0px;display:inline-block "  >
                        
                            <img src="https://res.cloudinary.com/hdzvdkljx/image/upload/v1542473970/company_logo/<%= customer_photo %>" class="player-img" style="height:60%;padding-bottom: 10px"  alt="Mobirise"> 
                            <h4 class="card-title mbr-fonts-style display-7">
                                    <%= bidding.customer_name %>
                                    <!-- <%= bidding.bidding_id %> -->
                                   
                            </h4>
                        </div>
                    
                <div  class="card-box" style="text-align: left;">
                   
                   
                   
                           <p style="font-weight:bold;font-size: 15px" > ชื่อโครงการ: <span style="color:blue;font-size: 17px"><%= bidding.project_name%></span></p>
                           <p style="font-weight:bold;font-size: 15px"> รายละเอียดของงาน: <span style="font-size: 17px"></span><%= bidding.scope %></p>
                           <p style="font-weight:bold;font-size: 15px"> คุณสมบัติผู้เข้าร่วม: <span style="font-size: 17px"></span><%= bidding.requirement %></p>
                           <p style="font-weight:bold;font-size: 15px"> ระยะเวลาโครงการ: <span style="font-size: 17px"></span><%= bidding.leadtime %> วัน</p>
                           <p style="font-weight:bold;font-size: 15px"> ส่งราคาภายในวันที่: <span style="font-size: 17px"></span><%= bidding.deadline1 %></p>
                
                </div>
            </div>
            <div class="modal-footer">

                    <button type="button" class="btn btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#editPost<%= bidding.post_id %>">แก้ไข</button>
              <button type="button" class="btn btn-sm" data-dismiss="modal">ปิด</button>
              <button type="button" class="btn btn-sm" data-dismiss="modal">ลบ</button>
            </div>
          </div>
                        </div>
                  
     
                    </div>
                           
                    <!-- Edit Post-->
                    <div class="modal fade" id="editPost<%= bidding.post_id %>" role="dialog" >
                            <div class="modal-dialog" style="width:100%">
                            
                              <!-- Modal content-->
                              <div class="modal-content">
                                 <div class="modal-header">
                                        <h4 class="card-title mbr-fonts-style display-7">
                                                แก้ไขประกาศ 
                                         </h4>
                                </div> 
                                <div class="modal-body">
                                        <!-- <div class="card-img" style="width:40%;padding-left: 10%;padding-bottom: 5px"  >
                                              
                                                   
                                                <img src="https://res.cloudinary.com/hdzvdkljx/image/upload/v1542473970/company_logo/<%= customer_photo %>" class="player-img" style="height:60%"  alt="Mobirise"> 
                                            </div> -->
                                        
                                    <div  class="card-box" style="text-align:left">
                                      
                                        
                                                <form id="editPost"  action="/updatepost/<%= bidding.post_id %>" method="post" enctype="multipart/form-data">
                                                    <div class="form-row input-group-sm">
                                                           
                                                        <div class="form-group col-md-12 input-group-sm " >
                                                                <label style=" font-weight: bold;font-size: 15px">ชื่อโครงการ</label>
                                                            <input type="text" class="form-control input-sm" name="project_name" id="project_name"  value="<%= bidding.project_name%>" placeholder="Project name" required>
                                                        </div>
                                                        <div class="form-group col-md-12 input-group-sm" >
                                                                <label style=" font-weight: bold;font-size: 15px">รายละเอียดของงาน</label>
                                                            <input type="text" class="form-control input-sm" name="scope" id="scope"  value="<%= bidding.scope %>" placeholder="Project scope" required>
                                                        </div>
                                                        <div class="form-group col-md-12 input-group-sm" >
                                                                <label style=" font-weight: bold;font-size: 15px">คุณสมบัติผู้เข้าร่วม</label>
                                                            <input type="text" class="form-control .input-sm" name="requirement" id="requirement" value="<%= bidding.requirement %>" placeholder="Project requirement" required>
                                                        </div>
                                                        <div class="form-group col-md-6 input-group-sm">
                                                                <label style=" font-weight: bold;font-size: 15px">ระยะเวลาโครงการ(วัน)</label>
                                                            <input type="text" class="form-control input-sm" name="leadtime" id="leadtime" value="<%= bidding.leadtime %>" placeholder="Project Leadtime" required>
                                                        </div>
                                                   
                                                        <div class="form-group col-md-6 input-group-sm">
                                                                <label style=" font-weight: bold;font-size: 15px">ส่งราคาภายในวันที่</label>
                                                            <input type="date"  class="form-control input-sm" name="deadline" id="deadline" value="<%= bidding.deadline1 %>" placeholder="Project Deadline" required>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                    
                                                            <button type="submit" class="btn btn-sm" >อัพเดต</button>
                                                      <button type="button" class="btn btn-sm" data-dismiss="modal">ปิด</button>
                                                     
                                                    </div>
                                                </form>
                                                
                                               
                                                
                                        </p>
                                   
                                 
                                    </div>
                                </div>
                      
                              </div>
                                            </div>
                                      
                                        </div> 
                                        </div>
                           <!-- End Edit Post-->
                        </div>
                <% }) %>
           
        
        </div>
  

    </div>

                


        <% } else { %>
            <div class="col-md-12" style="padding-top:20px;color:red;">
                <h3 class="text-center">No post</h3>
            </div>
       
        <% } %>
        
   
   
 
   

       
    <!-- close col-md-8> -->
    
    <!-- Add Post-->
    <div class="modal fade" id="addPost" role="dialog" >
        <div class="modal-dialog"  >
        
          <!-- Modal content-->
          <div class="modal-content" >
            <div class="modal-header">
              <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
              <h4 class="modal-title">ลงประกาศจัดจ้าง</h4>
            </div> 
            <div class="modal-body">
                    <!-- <div class="card-img" style="width:40%;padding-left: 10%;padding-bottom: 5px"  >
                          
                               
                            <img src="https://res.cloudinary.com/hdzvdkljx/image/upload/v1542473970/company_logo/<%= customer_photo %>" class="player-img" style="height:60%"  alt="Mobirise"> 
                        </div> -->
                    
                <div  class="card-box">
                  
                   
                            <form id="editPost" class="add-player-form" action="/addpost/<%= customer %>" method="post" enctype="multipart/form-data">
                                <div class="form-row">
                               
                                    <div class="form-group col-md-12 input-group-sm">
                                            <label style=" font-weight: bold;font-size: 15px">ชื่อโครงการ</label>
                                        <input type="text" class="form-control" name="project_name" id="project_name" placeholder="Project name" required>
                                    </div>
                                    <div class="form-group col-md-12 input-group-sm">
                                            <label style=" font-weight: bold;font-size: 15px">รายละเอียดของงาน</label>
                                        <input type="text" class="form-control" name="scope" id="scope"  placeholder="Project scope" required>
                                    </div>
                                    <div class="form-group col-md-12 input-group-sm">
                                            <label style=" font-weight: bold;font-size: 15px">คุณสมบัติผู้เข้าร่วม</label>
                                        <input type="text" class="form-control" name="requirement" id="requirement"  placeholder="Project requirement" required>
                                    </div>
                                    <div class="form-group col-md-6 input-group-sm input-group-sm">
                                            <label style=" font-weight: bold;font-size: 15px">ระยะเวลาโครงการ(วัน)</label>
                                        <input type="text" class="form-control" name="leadtime" id="leadtime"  placeholder="Project Leadtime" required>
                                    </div>
                                    <div class="form-group col-md-6 input-group-sm">
                                            <label style=" font-weight: bold;font-size: 15px">ส่งราคาภายในวันที่</label>
                                        <input type="date"  class="form-control" name="deadline" id="deadline"  placeholder="Project Deadline" required>
                                    </div>
                                    <div class="form-group col-md-12 input-group-sm" >
                                
                                            <input type="hidden" class="form-control" name="customer_id" id="customer_id" value="<%= customer %>" placeholder="customer id" required>
                                        </div> 
                                        <div class="form-group col-md-12 input-group-sm"  >
                                   
                                                <input type="hidden" class="form-control" name="customer_name" id="customer_name" value="<%= customername %>"  placeholder="Customer name" required>
                                            </div>
                                </div>
                                <div class="modal-footer">

                                        <button type="submit" class="btn btn-sm" >อัพเดต</button>
                                  <button type="button" class="btn btn-sm" data-dismiss="modal">ปิด</button>
                                 
                                </div>
                            </form>
                            
                           
                            
                    </p>
               
             
                </div>
            </div>
  
          </div>
                        </div>
                  
     
                    </div>
       <!-- End Add Post-->
    </div>

  
     
    
    <section class="cid-raqq2LH4NR" id="footer5-1n">

    

    
        <div class="main">
		<div class="container">
			<div class="media-container-row">
				<div class="col-md-3">
					<div class="media-wrap">
						<a href="https://fastbuyco.herokuapp.com/">
						   <img src="/assets/images/mbr-192x192.jpg" alt="Mobirise" title="">
						</a>
					</div>
				</div>
				<div class="col-md-9">
					<p class="mbr-text align-right links mbr-fonts-style display-7">
						<a href="#" class="text-black">ABOUT</a> &nbsp;&nbsp;&nbsp;&nbsp;
						<a href="#" class="text-black">TERMS</a> &nbsp;&nbsp;&nbsp;&nbsp;
						<a href="#" class="text-black">CAREERS</a> &nbsp;&nbsp;&nbsp;&nbsp;
						<a href="#" class="text-black">CONTACT</a>
					</p>
				</div>
			</div>
			<div class="footer-lower">
				<div class="media-container-row">
					<div class="col-md-12">
						<hr>
					</div>
				</div>
				<div class="media-container-row mbr-white">
					<div class="col-md-6 copyright">
						<p class="mbr-text mbr-fonts-style display-7">
							© Copyright 2018 fastbuy.co - All Rights Reserved
						</p>
					</div>
					<div class="col-md-6">
						<div class="social-list align-right">
							<div class="soc-item">
								<a href="https://twitter.com/mobirise" target="_blank">
									<span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
							<div class="soc-item">
								<a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
									<span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
							<div class="soc-item">
								<a href="https://www.youtube.com/c/mobirise" target="_blank">
									<span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
							<div class="soc-item">
								<a href="https://instagram.com/mobirise" target="_blank">
									<span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
							<div class="soc-item">
								<a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
									<span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
							<div class="soc-item">
								<a href="https://www.behance.net/Mobirise" target="_blank">
									<span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
    </section>
    <div id="mySidenav" style="padding-top:200px;">
        
        <% if (post_status == "active") {%>
            <a href="/biddinglist/<%= customerid %>/active" style="color:blue;font-size: 10px" id="pendingrfq">ประกาศที่ยังไม่หมดอายุ</a>
                         <br>
            <a href="/biddinglist/<%= customerid %>/expired" style="font-size: 10px" id="submitrfq">ประกาศที่หมดอายุแล้ว</a>
            <!-- <br>
            <a href="">ประกาศที่จบไปแล้ว</a> -->
            <% } else { %>
                <a href="/biddinglist/<%= customerid %>/active" style="font-size: 10px" id="pendingrfq">ประกาศที่ยังไม่หมดอายุ</a>
                <br>
   <a href="/biddinglist/<%= customerid %>/expired" style="color:blue;font-size: 10px" id="submitrfq">ประกาศที่หมดอายุแล้ว</a>
                <% } %>
       </div>
</div>
   
  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/popper/popper.min.js"></script>
  <script src="/assets/tether/tether.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/assets/dropdown/js/script.min.js"></script>
  <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
  
  <script src="/assets/datatables/data-tables.bootstrap4.min.js"></script>
  <script src="/assets/theme/js/script.js"></script>
  <script src="/assets/formoid/formoid.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

  </body>
</html>