<!DOCTYPE html>
<html >
<head>
  <!-- Site made with Mobirise Website Builder v4.8.3, https://mobirise.com -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.8.3, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="/assets/images/logo2.png" type="image/x-icon">
  <meta name="description" content="Website Builder Description">
  <title>Customer Profile</title>
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
  
  
  
</head>
<body>
  <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-e">

        <% if (user_status == "loggined" ) {%>

    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                
                <span class="navbar-caption-wrap"><a class="navbar-caption text-success display-5" href="/">
                        fastbuy.co</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                        <li class="nav-item">
                                <a class="nav-link link text-white display-4" href="/productlist/<%= customer.customer_id %>">
                                    <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                                    View suppliers
                                </a>
                            </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="/editcustomer/<%= customer.customer_id %>">
                            <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                            Edit Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="/customerinbox/<%= customer.customer_id %>">
                            <span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
                            Inbox
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link text-white display-4" href="/customersummary/<%= customer.customer_id %>"><span class="mbri-cash mbr-iconfont mbr-iconfont-btn"></span>
                                    
                            Summary
                        </a>
                    </li></ul>
                
            </div>
    </nav>
    <% } %>
</section>


<section class="toggle2 cid-r8arXx1hpv" id="toggle2-g">
    
        

        <% if (customer) { %>   

    
            <div class="container">
                <div class="media-container-row">
                        <div class="toggle-content">
                             <h3 class="mbr-section-title pb-3 align-left mbr-fonts-style display-2"><%= customer.customer_name %></h3>
                            
                            <div id="bootstrap-toggle" class="toggle-panel accordionStyles tab-content pt-5 mt-2">
                            
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingOne">
                                        <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse1_11" aria-expanded="false" aria-controls="collapse1">
                                            <h4 class="mbr-fonts-style display-5">
                                                <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Company Information </h4>
                                               
                                        </a>
                                    </div>
                                    <div id="collapse1_11" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body p-4">
                                            <p class="mbr-fonts-style panel-text display-7">
                                                <%= customer.customer_info %>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingThree">
                                        <a role="button" class="collapsed panel-title  text-black" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapse4_11" aria-expanded="false" aria-controls="collapse4">
                                            <h4 class="mbr-fonts-style display-5">
                                                <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Location</h4>
                                        </a>
                                    </div>
                                    <div id="collapse4_11" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                                        <div class="panel-body p-4">
                                            <p class="mbr-fonts-style panel-text display-7"> <%= customer.address %>
    
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                
                            </div>
                        </div>
                    <div class="col-md-4">
                    
                    <div class="team-item col-lg-12 col-md-12">
                             <div class="mbr-figure" style="width: 100%;">
                                    <img src="https://res.cloudinary.com/hdzvdkljx/image/upload/v1542473970/company_logo/<%= customer.photo %>" alt="">
                            </div> 
                            <div class="item-caption py-3">
                                <div class="item-name px-2">
                                    <p class="mbr-fonts-style display-5">
                                        <%= customer.customer_name %>
                                    </p>
                                </div>
                       
                                <div class="item-role px-10">
                                        <p style=" font-weight: bold" >Establishment: <a style=" font-weight: bold;color:lightskyblue;"> <%= customer.found_year %></a>
                                    </div>
                                    <div class="item-role px-10">
                                            <p style=" font-weight: bold" >Registered Capital: <a style=" font-weight: bold;color:lightskyblue;"> <%= customer.reg_cap %> THB</a>
                                  
                                        </div>
                                <div class="item-social pt-10">
                                    <a href="https://twitter.com/mobirise" target="_blank">
                                        <span class="p-1 socicon-twitter socicon mbr-iconfont mbr-iconfont-social"> </span>
                                    </a>
                                    <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                        <span class="p-1 ">250</span>
                                    </a>
                                    <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                        <span class="p-1 mbr-iconfont mbr-iconfont-social">300</span>
                                    </a>
                                    <a href="https://www.linkedin.com/in/mobirise" target="_blank">
                                        <span class="p-1"> 400</span>
                                    </a>
                                    <a href="https://www.instagram.com/mobirise/" target="_blank">
                                        
                                    </a>
                                    <a href="https://www.youtube.com/channel/UCt_tncVAetpK5JeM8L-8jyw" target="_blank">    
                                        
                                    </a>
                                </div>
                            </div>
                    </div>
                   
                    
                </div>
                
            </div>
        </div>
            <% } else { %>
                <!-- <p class="text-center">Player Not Found. Go <a href="/add">here</a> to add players.</p> -->
            <% } %>
        
</section>

<section class="cid-raqq2LH4NR" id="footer5-1n">

    

    

        <div class="container">
            <div class="media-container-row">
                <div class="col-md-3">
                    <div class="media-wrap">
                        <a href="https://mobirise.com/">
                           <img src="/assets/images/mbr-192x192.jpg" alt="Mobirise" title="">
                        </a>
                    </div>
                </div>
                <div class="col-md-9">
                    <p class="mbr-text align-right links mbr-fonts-style display-7">
                        <a href="#" class="text-black">ABOUT</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="text-black">TERMS</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="text-black">CAREERS</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#" class="text-black">CONTACT</a>
                    </p>
                </div>
            </div>
            <div class="footer-lower">
                <div class="media-container-row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                <div class="media-container-row mbr-white">
                    <div class="col-md-6 copyright">
                        <p class="mbr-text mbr-fonts-style display-7">
                            © Copyright 2018 fastbuy.co - All Rights Reserved
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="social-list align-right">
                            <div class="soc-item">
                                <a href="https://twitter.com/mobirise" target="_blank">
                                    <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                    <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.youtube.com/c/mobirise" target="_blank">
                                    <span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://instagram.com/mobirise" target="_blank">
                                    <span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                                    <span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                            <div class="soc-item">
                                <a href="https://www.behance.net/Mobirise" target="_blank">
                                    <span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/popper/popper.min.js"></script>
  <script src="/assets/tether/tether.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/assets/dropdown/js/script.min.js"></script>
  <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>
  <script src="/assets/theme/js/script.js"></script>
  <script src="/assets/formoid/formoid.min.js"></script>
  
  
  <input name="animation" type="hidden">
  </body>
</html>