<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Chart</title>
 
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
  <title>Material Design Bootstrap</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
 
  <link rel="shortcut icon" href="/assets/images/logo2.png" type="image/x-icon">
  <meta name="description" content="Website Builder Description">
 
  <link rel="stylesheet" href="/assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="/assets/tether/tether.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="/assets/dropdown/css/style.css">
  <link rel="stylesheet" href="/assets/animatecss/animate.min.css">
  <link rel="stylesheet" href="/assets/socicon/css/styles.css">
  <link rel="stylesheet" href="/assets/theme/css/style.css">
  <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
  
</head>

<body>
		<section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-e">

				<% if (user_status == "loggined" ) {%>
		
			<nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<div class="hamburger">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</button>
				<div class="menu-logo">
					<div class="navbar-brand">
						
						<span class="navbar-caption-wrap"><a class="navbar-caption text-success display-5" href="/">
								fastbuy.co</a></span>
					</div>
				</div>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
							<li class="nav-item">
								<a class="nav-link link text-white display-4" href="/editsupplier/<%= supplier_id %>">
									<span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
									Edit Profile 
								</a>
							</li>
							<li class="nav-item">
									<a class="nav-link link text-white display-4" href="/editsupplierconfig/<%= supplier_id %>">
										<span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
										Set config
									</a>
								</li>
								<li class="nav-item">
										<a class="nav-link link text-white display-4" href="/editsupplier/<%= supplier_id %>">
											<span class="mbri-home mbr-iconfont mbr-iconfont-btn"></span>
											Inbox
										</a>
									</li>
		
							<li class="nav-item">
								<a class="nav-link link text-white display-4" href="/suppliersummary/<%= supplier_id %>"><span class="mbri-cash mbr-iconfont mbr-iconfont-btn"></span>
									
									Summary
								</a>
							</li></ul>
						
					</div>
			</nav>
	
					<% } %>
		</section>
  <!-- Start your project here-->
  
  <!-- /Start your project here-->
  <div class="container">
	  <br>
	  <br>  <br>
	  <br>  <br>
		<div class="justify-content-center">
				<h1><span ></span>RFQ Summary by customer</h1>
				<br>  <br>
  <div class="col-md-9" >
  <canvas id="myChart" width="400" height="200"></canvas>
</div>
<br>  
<h1><span ></span>RFQ Summary by month</h1>
				<br> 
				
  <div class="col-md-9" >
  <canvas id="myChart1" width="400" height="200"></canvas>
</div>
<input id="months" type="hidden" class="form-control" name="months"  value="<%= months %>">
<input id="rfqqty" type="hidden" class="form-control" name="rfqqty" value="<%= rfqqty %>">
</div>
</div>
<section class="footer3 cid-r8azJEXKOZ" id="footer3-i">

    

    

		<div class="container">
			<div class="media-container-row content">
				<div class="col-md-2 col-sm-4">
					<div class="mb-3 img-logo">
						<a href="https://mobirise.com/">
							 <img src="/assets/images/logo2.png" alt="Mobirise">
						</a>
					</div>
					<p class="mbr-fonts-style foot-logo display-7">
						fastbuy.co</p>
				</div>
				<div class="col-md-3 col-sm-4">
					<p class="mb-4 mbr-fonts-style foot-title display-7">
						RECENT NEWS
					</p>
					<p class="mbr-text mbr-links-column mbr-fonts-style display-7">
						<a href="#" class="text-black">About us</a>
						<br><a href="#" class="text-black">Services</a>
						<br><a href="#" class="text-black">Selected Work</a>
						<br><a href="#" class="text-black">Get In Touch</a>
						<br><a href="#" class="text-black">Careers</a>
					</p>
				</div>
				<div class="col-md-3 col-sm-4">
					<p class="mb-4 mbr-fonts-style foot-title display-7">
						CATEGORIES
					</p>
					<p class="mbr-text mbr-fonts-style mbr-links-column display-7">
						<a href="#" class="text-black">Business</a>
						<br><a href="#" class="text-black">Design</a>
						<br><a href="#" class="text-black">Real life</a>
						<br><a href="#" class="text-black">Science</a>
						<br><a href="#" class="text-black">Tech</a>
					</p>
				</div>
				<div class="col-md-4 col-sm-12">
					<p class="mb-4 mbr-fonts-style foot-title display-7">
						SUBSCRIBE
					</p>
					<p class="mbr-text form-text mbr-fonts-style display-7">
						Get monthly updates and free resources.
					</p>
					<div class="media-container-column" data-form-type="formoid">
						<div data-form-alert="" hidden="" class="align-center">
							Thanks for filling out the form!
						</div>
	
						<form class="form-inline" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form">
							<input type="hidden" value="BQiyU6ds+5t/DpiCyqJK+IDGbf62ESroP9SBNLKeAaBLF07DymlsFfbiPpwQjtiDe6Y50rniZd2HuQe/PZhR61wKIBfKYMiQ47Kem6bMsIQxABqtg8sC2QBZjPx838oc" data-form-email="true">
							<div class="form-group">
								<input type="email" class="form-control input-sm input-inverse my-2" name="email" required="" data-form-field="Email" placeholder="Email" id="email-footer3-i">
							</div>
							<div class="input-group-btn m-2">
								<button href="" class="btn btn-primary display-4" type="submit" role="button">Subscribe</button>
							</div>
						</form>
					</div>
	
				</div>
			</div>
			<div class="footer-lower">
				<div class="media-container-row">
					<div class="col-sm-12">
						<hr>
					</div>
				</div>
				<div class="media-container-row">
					<div class="col-sm-6 copyright">
						<p class="mbr-text mbr-fonts-style display-7">
							© Copyright 2017 fasybuy.co - All Rights Reserved
						</p>
					</div>
					<div class="col-md-6">
						<div class="social-list align-right">
							<div class="soc-item">
								<a href="https://twitter.com/mobirise" target="_blank">
									<span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
							<div class="soc-item">
								<a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
									<span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
							<div class="soc-item">
								<a href="https://www.youtube.com/c/mobirise" target="_blank">
									<span class="socicon-youtube socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
							<div class="soc-item">
								<a href="https://instagram.com/mobirise" target="_blank">
									<span class="socicon-instagram socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
							<div class="soc-item">
								<a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
									<span class="socicon-googleplus socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
							<div class="soc-item">
								<a href="https://www.behance.net/Mobirise" target="_blank">
									<span class="socicon-behance socicon mbr-iconfont mbr-iconfont-social"></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

<script>
var ctx = document.getElementById("myChart").getContext('2d');
var ctx1 = document.getElementById("myChart1").getContext('2d')
var label1 = document.getElementById("months").value.split(',');
var data1 = document.getElementById("rfqqty").value.split(',');

var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: label1,
        datasets: [{
            label: '# of RFQ',
            data: data1,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                
            ],
            borderColor: [
                'rgba(255,99,132,1)',
               
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
var myChart1 = new Chart(ctx1, {
    type: 'bar',
    data: {
        labels: ["May 2018", "Jun 2018", "Jul 2018", "August 2018", "September 2018", "October 2018"],
        datasets: [{
            label: '# of RFQ',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

		<!-- SCRIPTS -->

		
  <!-- JQuery -->
  <script src="/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/assets/popper/popper.min.js"></script>
  <script src="/assets/tether/tether.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/smoothscroll/smooth-scroll.js"></script>
  <script src="/assets/dropdown/js/script.min.js"></script>
  <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="/assets/viewportchecker/jquery.viewportchecker.js"></script>
  <script src="/assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>
  <script src="/assets/theme/js/script.js"></script>
  <script src="/assets/formoid/formoid.min.js"></script>
  
  
  <input name="animation" type="hidden">
</body>

</html>
